.container {
  font-family: "Cormorant", serif;
}

.app {
  border: 2px solid pink;
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
  background-color: pink;
}

.Title {
  text-align: center;
  margin: 20px;
}

.Footer {
  text-align: end;
  margin: 50 50 5 50px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: pink;
}
