.Dictionary {
  text-align: center;
}

.Dictionary input {
  width: 50%;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.Dictionary input:focus-visible {
  outline: 1px solid #774e5bff;
}

.Dictionary section {
  background-color: #cd9fac3d;
  font-size: 1.1em;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  .Dictionary section {
    font-size: 1em;
  }
}
